body {
    background: #8E0E00;
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    background: linear-gradient(to right, #1F1C18, #8E0E00);
}

.heading {
    background: -webkit-linear-gradient(#1F1C18, #8E0E00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-section {
    display: inline-block;
}

#search {
    width: 25%;
}

#searchBtn {
    background: #8E0E00;
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    color: #fff;
}

#writer {
    font-size: 14px;
    display: inline-block;
}

#ratingsSection p {
    background: #8E0E00;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 50px;
}

#ratingsSection .value {
    background: rgb(95, 20, 20);
    color: rgb(182, 179, 179);
    padding: 3px 5px;
    border-radius: 50px;
    margin-left: 10px;
}

#modal {
    background: #8E0E00;
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    background: linear-gradient(to left, #1F1C18, #8E0E00);
    color: #fff;
}

@media(max-width: 765px) {
    #search {
        width: 75%;
    }
}